.app-container {
  display: flex;
  height: 100vh;
}

.toolbar {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 10px;
  gap: 30px;
  width: 60px;
  align-items: center;
  border-right: 1px solid #ccc;
}

button {
  background-color: gray;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

button.selected {
  background-color: white;
  border: 1px solid black;
}

.vertical-slider {
  writing-mode: bt-lr;
  transform: rotate(270deg);
  height: 150px;
  background-color: black; /* Pencil slider set to black */
  /* gap: 10px; */
  margin-bottom: -30px;
}

.eraser-size-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.eraser-size-btn {
  padding: 5px;
  background-color: lightgray;
  border: 1px solid #ccc;
  cursor: pointer;
}

button.eraser-selected {
  background-color: white;
}

button.eraser-size-btn:hover {
  background-color: #e0e0e0;
}

.canvas-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  padding: 20px;
}

.drawing-canvas {
  background-color: #fff;
  border: 1px solid #000;
}

.color-picker-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border: 1px solid gray;
  background-color: lightgray;
}

.color-picker-box.selected {
  background-color: white;
}

input[type="color"] {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* For tablets */
  .toolbar {
    width: 80px;
  }

  .drawing-canvas {
    width: 90%;
    height: 90%;
  }
}

@media (max-width: 480px) {
  /* For phones */
  .toolbar {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .canvas-wrapper {
    padding: 10px;
  }

  .drawing-canvas {
    width: 100%;
    height: auto;
  }
}
