<div class="app-container">
  <!-- Toolbar -->
  <div class="toolbar">
   

    <!-- Pencil Size Slider -->
    <input
      type="range"
      id="pencilSize"
      min="1"
      max="20"
      [(ngModel)]="pencilSize"
      (input)="setPencilSize()"
      class="vertical-slider"
    />
     <!-- Pencil Tool Button -->
     <button
     (click)="setTool('pencil')"
     [ngClass]="{ selected: selectedTool === 'pencil' }"
     title="Pencil"
   >
     <mat-icon>edit</mat-icon>
   </button>
    <!-- <label for="pencilSize">Pencil Size</label> -->
     <!-- Color Picker -->
    <div
    class="color-picker-box"
    [ngClass]="{ selected: selectedTool === 'colorPicker' }"
  >
    <mat-icon>brush</mat-icon>
    <input
      type="color"
      id="colorPicker"
      [(ngModel)]="selectedColor"
      (change)="setColor()"
    />
  </div>

    <!-- Eraser Tool Button -->
    <button
      (click)="setTool('eraser')"
      [ngClass]="{ selected: selectedTool === 'eraser' }"
      title="Eraser"
    >
      <mat-icon>crop_5_4</mat-icon>
    </button>

    <!-- Eraser Size Options -->
    <div *ngIf="selectedTool === 'eraser'" class="eraser-size-options">
      <button
        (click)="setEraserSize(5)"
        [ngClass]="{ 'eraser-selected': eraserSize === 5 }"
        class="eraser-size-btn"
      >
        <mat-icon>crop_7_5</mat-icon>
        <!-- Small Eraser -->
      </button>
      <button
        (click)="setEraserSize(10)"
        [ngClass]="{ 'eraser-selected': eraserSize === 10 }"
        class="eraser-size-btn"
      >
        <mat-icon>crop_16_9</mat-icon>
        <!-- Medium Eraser -->
      </button>
      <button
        (click)="setEraserSize(15)"
        [ngClass]="{ 'eraser-selected': eraserSize === 15 }"
        class="eraser-size-btn"
      >
        <mat-icon>crop_3_2</mat-icon>
        <!-- Large Eraser -->
      </button>
      <button
        (click)="setEraserSize(20)"
        [ngClass]="{ 'eraser-selected': eraserSize === 20 }"
        class="eraser-size-btn"
      >
        <mat-icon>crop_din</mat-icon>
        <!-- X-Large Eraser -->
      </button>
    </div>

    

    <!-- Reset Button -->
    <button
      (click)="resetCanvas()"
      [ngClass]="{ selected: selectedTool === 'reset' }"
      title="Reset"
    >
      <mat-icon>restart_alt</mat-icon>
    </button>

    <!-- Save Button -->
    <!-- Save Button -->
    <button
    (click)="saveCanvas()"
    [ngClass]="{ selected: selectedTool === 'save' }"
    title="Save"
    >
    <mat-icon>download_for_offline</mat-icon>
    </button>

  </div>

  <!-- Canvas Area -->
  <div class="canvas-wrapper">
    <canvas
      #canvasRef
      class="drawing-canvas"
      (mousedown)="startDrawing($event)"
      (mousemove)="draw($event)"
      (mouseup)="stopDrawing()"
    ></canvas>
  </div>
</div>
